# зависимости
node_modules

# артефакты hardhat/сборки/кеша
artifacts
cache
coverage
dist
build
out
fhevmTemp
typechain
typechain-types
*.tsbuildinfo

# файлы окружения
.env
.env.*.local

# сгенерированные адреса деплоя
deployed_*.json

# логи/временные
*.log
