# игнорируем CI-яндекс YAML
.github/workflows/*.yml

# сборочные и генерируемые папки
node_modules
dist
cache
artifacts
coverage
fhevmTemp
types

# вспомогательные/лок файлы
*.env
*.log
.DS_Store
.pnp.*
bun.lockb
coverage.json
package-lock.json
pnpm-lock.yaml
yarn.lock
